* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 67.5%;
}
body{
   font-size: 1rem;
}
.container{
    margin: 0 5% 0 5%;
}
nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    min-height: 8vh;
    width: 100%;
    height: 50px;
    padding: 40px;  
    z-index: 2;
}
.logo {
    color: #333333;
    margin:10px 0px 0px -290px;
    float: left;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 53px;  
    font-family: 'Heebo', sans-serif;
    z-index: 2
}
.nav-links {
    float:right;
    display: flex;
    width: 30%;
    z-index: 2;
}
.nav-links li {
    list-style: none;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0px 40px 0px 0px;
    z-index: 2;
}
li:hover{
    text-decoration: underline;
}
.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
     font-size: 2rem;
}
.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .logo {
        margin:10px 0px 0px 0px;
    }
    .nav-links {
        width: 100%;
        padding: 0px 40px 0px 200px;
    }
}
@media screen and (max-width: 768px) {
    .logo {
        margin:10px 0px 0px -200px;
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 11vh;
        background-color: #fdfdff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
            margin: 50px 0px 0px -100px;
            justify-content: center;
            align-items: center;
    }
    .burger {
        display: block;
        cursor: pointer;
        float:right;
        margin-right: -200px;
    }
}
@media screen and (max-width: 506px) {
    .logo {
        margin:10px 0px 0px -100px;
    }
    .nav-links li {
        opacity: 0;
            margin: 50px 0px 0px -100px;
            justify-content: center;
            align-items: center;
    }
    .burger {
        display: block;
        cursor: pointer;
        float:right;
        margin-right: -100px;
    } 
}
.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.title,.profile{
    margin-top: 100px;
}

.top{
    margin: 120px 15% 0px 5%;

}
.unhappy{
    color: #2D9CDB;
    font-family: 'Poppins', sans-serif;
    font-size: calc(1rem + 1vw);
}
div>h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: calc(2rem + 1vw);
    max-width: 400px;
    min-width:  280px;
    margin-bottom: 20px;
    color: #333333;
}
div>img{
    border-radius: 18px;
    width: 100%;
    height: 100%;
    min-width: 348px;
    min-height: 145px;
    margin-bottom:5%;
}
.story{
    margin-left: 3%;
}
div.story>h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: calc(2rem + 1vw);
    color: #333333;
    max-width: 366px;
    min-width:  227px;
}
div.innnerstory>p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 2vh;
    color: #4F4F4F;
    max-width: 350px;
    min-width: 280px;
    margin-bottom: 5%;
}
div.contact>p{
    color: #828282;
    font-family: 'Poppins', sans-serif;
}
.message{
    max-width: 350px;
     min-width: 280px;
     margin-bottom: 10%;
}
div.message>input{
   max-width: 250px;
    min-width: 190px;
    max-height: 57px;
    min-height: 47px;
    border-radius: 5%;
    border: none;
    background-color:#F2F2F2;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
     font-size: calc(1rem + 0.5vw);
}
div.message>button{
    float: right;
    margin-left: -55px;
    max-width: 94px;
    min-width: 90px;
    max-height: 50px;
    min-height: 39px;
    border: none;
     position: absolute;
    background-color: #2D9CDB;
    border-radius: 12px;
    color:white;
    font-size: calc(1rem + 0.5vw);
    font-family: 'Poppins', sans-serif;
}
div.message>button:hover{
    color:#2D9CDB;
    background-color: #F2F2F2;
    border:2px solid #2D9CDB;
}
div.second>h1{
    margin-left: 3%;
    font-size: calc(2rem + 0.5vw);
    font-family: 'Poppins', sans-serif;
    max-width: 300px;
    min-width: 259px;
}
.services{
    margin: 0px 3% 0px 0px;
}
.first{
    max-width: 347px;
    min-width: 300px;
    max-height: 422px;
    min-height: 320px;
    border-radius: 20%;
}
.first:hover{
        box-shadow: 5px 10px #828282;
}
.uiicon,.backicon,.fronticon{
    position: relative;
    margin: 40px 0px 20px 30px;
    max-width: 67px;
    min-width:20px;
    max-height: 67px;
    min-height: 20px;
    border-radius: 25%;
    padding: 15px;
}
.uiicon{
    background-color: #2D9CDB; 
}
.backicon{
    background-color: #EB5757; 
}
.fronticon{
    background-color: #27AE60; 
}
div.first>h1{
    font-size: calc(2rem + 1vw);
    margin: 20px 0px 20px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
div.first>p{
    font-size: 2vh;
    margin: 20px 0px 20px 30px;
    font-family: 'Poppins', sans-serif;
}
div.first>button{
    font-size: 2vh;
    margin: 0px 0px 20px 30px;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    border: none;
    color:white;
    background-color: #2D9CDB;
    width: 100px;
    height: 30px;
    font-style: bold;
}
div.first>button:hover{
    color:#2D9CDB;
    background-color: white;
    border:2px solid #2D9CDB;
}
div.three{
    margin: 20% 3% 0px 3%;
}
div.three>h1{
     font-size: calc(2rem + 0.5vw);
    font-family: 'Poppins', sans-serif;
    max-width: 300px;
    min-width: 259px;
}
.onboard{
    max-width: 560px;
    min-width: 375px;
    max-height: 560px;
    min-height: 280px;
}
.smarthome{
    max-width: 560px;
    min-width: 375px;
    max-height: 560px;
    min-height: 280px;
    margin-top: 15%;
}
div.onboard>img,div.smarthome>img{
    max-width: 450px;
    min-width: 375px;
    max-height: 420px;
    min-height: 275px;
    border-radius: 20px;
    height: 521px;
}
div.onboard>p,div.smarthome>p{
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    color: #828282;
}
div.onboard>h2,div.smarthome>h2{
   font-size: calc(2rem + 0.5vw);
    font-family: 'Poppins', sans-serif;
    color: #333333;
}
div.three>p{
     font-size: calc(1rem + 0.5vw);
     color:#2D9CDB;
    font-family: 'Poppins', sans-serif;
    float: right;
}
div.three>p:hover{
     color:#2D9CDB;
     border: 2px solid #2D9CDB;
     padding: 10px;
}
.four{
    margin: 15% 0px 20% 0px;
    gap:18%;
}
.info{
    max-width: 40%;
    min-width: 20%;
    margin: 10% 0% 0% 10%;
}
div.info  p {
    font-family: 'Poppins', sans-serif;
    color: #4F4F4F;
     font-size: calc(0.5rem + 0.5vw);
}
div.info>h6{
     font-size: calc(1rem + 0.5vw);
    font-family: 'Poppins', sans-serif;
    color: #EB5757;
}
div.info>h5{
     font-size: calc(2rem + 1.2vw);
    font-family: 'Poppins', sans-serif;
    color: #333333;
    max-width: 300px;
    min-width: 190px;
}
.people{
    display: flex;
    gap:20px;
}
.innerpep{
    display: flex;
    flex-direction: column;
}
.diffpic{
    max-width: 180px;
    min-width: 55px;
    max-height: 180px;
    min-height: 55px;
    border-radius: 20px;
}
.regpic{
    max-width: 270px;
    min-width: 125px;
    max-height: 270px;
    min-height: 125px;
    border-radius: 20px;
}
div.people>img{
    margin-top: 80px;
    max-width: 270px;
    min-width: 125px;
    max-height: 250px;
    min-height: 145px;
    border-radius: 20px;
}
div.testimonial>p{
    margin-left:10%;       
    font-size: calc(1rem + 1vw);
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    min-width: 150px;
}
div.innertest>img{
    margin: 20px 0px 0px 10%;
    max-width: 80px;
    min-width: 65px;
    max-height: 80px;
    min-height: 65px;
    border-radius: 20px;
}
.innertest{
    display: flex;
    gap:20px;
}
.innerinner{
    display: flex;
    flex-direction: column;
}
div.innerinner>h6{
    margin-top: 15px;
    font-size: calc(1rem + 0.5vw);
    font-family: 'Poppins', sans-serif;
    color:  #333333;
}
div.innerinner>p{
    margin-top: 5px;
    font-size: calc(1rem + 0.5vw);
    font-family: 'Poppins', sans-serif;
    color: #828282;
}
.footer{
    margin-top: 20%;
    background-color: #100E1D;
    padding: 50px; 
}
.innerfoot{
    justify-content: space-around;
}
div.footer>p{
    margin-top: 50px;
    color: #F2F2F2;
    text-align: center;
    font-size: calc(1rem + 1vw);
}
div.one>p{
     font-size: calc(1rem + 0.5vw);
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-bottom: 10px;
}
div.two>p{
     font-size: calc(1rem + 2vw);
     font-family: 'Heebo', sans-serif;
     font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
}
div.message2>input{
     max-width: 250px;
    min-width: 190px;
    max-height: 57px;
    min-height: 47px;
    border-radius: 20px;
    border: none;
    background-color:#F2F2F2;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
     font-size: calc(1rem + 0.5vw);
}
.join{
    margin: 4px 0px 0px -100px;
    max-width: 94px;
    min-width: 90px;
    max-height: 50px;
    min-height: 39px;
    border: none;
     position: absolute;
    background-color: #2D9CDB;
    border-radius: 12px;
    color:white;
    font-size: calc(1rem + 0.5vw);
    font-family: 'Poppins', sans-serif;
}
.join:hover{
    color:#2D9CDB;
    background-color: #F2F2F2;
    border:2px solid #2D9CDB;
}
@media (min-width: 1249px){
    .collection{
        display: flex;
        justify-content: space-around;
    }
    .services{
      display: flex;
      justify-content: space-between;
    }
    .four{
    display: flex;
    }
    .innerfoot{
    display: flex;
    }
}
@media  (min-width: 320px) and (max-width: 1248px){
    .services{
     display: inline-flex;
     flex-wrap: wrap;
     gap: 20px;
    }
    .collection{
     display: inline-flex;
     flex-wrap: wrap;
     gap: 100px;
    }
    .four{
    display: flex;
    flex-direction: column;
    }
    .innerfoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}
